PORT=5000

NODE_ENV=development

DATABASE_URL="postgresql://finance4all:finance4All@localhost:5432/finance4All?schema=public"

# Clerk Auth keys
CLERK_PUBLISHABLE_KEY=your_publishable_key
CLERK_SECRET_KEY=your_secret_key